@media screen and (max-width:1600px) {
    .bar-container {
        width: 85%;
    }

    .container {
        width: 85%;
        align-content: flex-start;
    }

    .row-footer .center-form input {
        width: 80%;
    }
}

@media screen and (max-width:1200px) {
    .bar-container {
        width: 80%;
    }

    .container {
        width: 80%;
    }

    .hero-section {
        height: calc(100vh - 92px);
    }

    /* ---------------section 1------------- */
    .card {
        width: 31%;
    }

    /* ---------------section 2------------- */
    .s2-images {
        height: 900px;
    }

    /* ---------------footer------------- */
    .row-footer .footer-div {
        width: 45%;
    }

    .row-footer .center {
        width: 100%;
        order: 1;
    }

    .row-footer .center-form input {
        width: 87%;
    }

}

@media screen and (max-width:992px) {
    .bar-container {
        width: 70%;
    }

    .container {
        width: 70%;
    }

    .bar-ul {
        display: none;
    }

    .bar-icon .hidden {
        display: inline;
        margin-left: 16px;
    }

    .hero-section {
        height: calc(100% - 92px);

    }

    .screen {
        gap: 40px;
    }

    .screen-info {
        width: 100%;
        order: 1;
        text-align: center;

    }

    .screen-img {
        width: 100%;
    }

    .screen-info h2 {
        width: 60%;
    }

    .screen-button {
        width: 60%;

    }

    /* --------------------section1----------------------- */
    .s1-cards {
        row-gap: 24px;
    }

    .card {
        width: 48%;

    }

    /* --------------------section2----------------------- */
    .s2-images {
        height: 1400px;
    }

    .img {
        width: 48%;

    }

    .s2-images .img-1 {
        order: 1;
    }

    .s2-images .img-2 {
        order: 5;
    }

    .s2-images .img-3 {
        order: 2;
    }

    .s2-images .img-4 {
        order: 3;
    }

    .s2-images .img-5 {
        order: 6;
    }

    .s2-images .img-6 {
        order: 7;
    }

    .s2-images .img-7 {
        order: 4;
    }

    /* --------------------section2----------------------- */
    .up-input .input {
        width: 100%;
    }

    /* --------------------footer----------------------- */
    .row-footer .center-form input {
        width: 82%;
    }

}

@media screen and (max-width:768px) {
    .screen-info h2 {
        width: 65%;
    }

    .screen-button {
        width: 65%;

    }

    .card {
        width: 100%;
    }

    .s1-img::before {
        top: 85%;
    }

    /* ----------------------------------------- */
    .s2-images {
        height: fit-content;
    }

    .img {
        width: 100%;
    }

    /* ----------------------------------------- */
    .s3-div {
        width: 100%;
    }

    /* ----------------------------------------- */
    .row-footer .center-form input {
        width: 77%;
    }
}

@media screen and (max-width:576px) {
    .bar-container {
        width: 90%;
    }

    .container {
        width: 90%;
    }

    .screen-info h2 {
        width: 100%;
    }
    .row-footer .footer-div {
        width: 100%;
    }
    .row-footer .center-form {
        gap: 16px;

    }
    .row-footer .center {
       order: 0;
    }

    .row-footer .center-form input {
        width: 100%;

    }

    .row-footer .center-form button {
        width: 100%;

    }

}